<div class="setting-wrap">
  <div class="setting-left">
    <ul>
      <li><%= link_to t('.account'), users_account_path, class:"setting-toggle select-account" %></li>
      <li><%= link_to t('.profile'), users_profile_path, class:"setting-toggle" %></li>
    </ul>
  </div>

  <div class="setting-right">
    <div class="account-table">
        <table>
          <tr class="table-title tr-border-bottom">
            <th><%= t('.account') %></th>
            <td></td>
          </tr>
          <tr class="tr-border-bottom">
            <th><%= t('.email') %></th>
            <td><%= current_user.email %></td>
          </tr>
          <tr class="tr-border-bottom">
            <th><%= t('.password') %></th>
            <td><%= "*" * 10 %></td>
          </tr>
          <tr class="btn-table">
            <th><%= link_to t('.edit'), edit_user_password_path, class:"table-btn" %></th>
            <td></td>
          </tr>
        </table>
    </div>  
  </div>


</div>

