
<div class="setting-wrap">
  <div class="setting-left">
    <div class="setting-left-content">
      <ul>
        <li><%= link_to t('.account'), users_account_path, id:"setting-toggle" %></li>
        <li><%= link_to t('.profile'), users_profile_url %></li>
      </ul>
    </div>
  </div>

  <div class="setting-right">
    <div class="setting-right-content">
        <ul>

          <li class="border-bottom-gray" id="setting-title">
            <span><%= t('.account') %></span>
            <span></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.email') %></span>
            <span><%= current_user.email %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.password') %></span>
            <span><%= "*" * 10 %></span>
          </li>

          <li id="setting-submit-btn">
            <span><%= link_to t('.edit'),"#", class:"submit-btn-account" %></span>
            <span></span>
          </li>

        </ul>
<!-- edit_user_password GET  /users/password/edit  devise/passwords#edit -->
    </div>  
  </div>


<%
=begin%>
<div class="setting-wrap">
  <div class="setting-left">
    <ul>
      <li><%= link_to t('.account'), users_account_path, class:"setting-toggle select-account" %></li>
      <li><%= link_to t('.profile'), users_profile_path, class:"setting-toggle" %></li>
    </ul>
  </div>

  <div class="setting-right">
    <div class="account-table">
        <table>
          <tr class="table-title tr-border-bottom">
            <th><%= t('.account') %></th>
            <td></td>
          </tr>
          <tr class="tr-border-bottom">
            <th><%= t('.email') %></th>
            <td><%= current_user.email %></td>
          </tr>
          <tr class="tr-border-bottom">
            <th><%= t('.password') %></th>
            <td><%= "*" * 10 %></td>
          </tr>
          <tr class="btn-table">
            <th><%= link_to t('.edit'), edit_user_password_path, class:"table-btn" %></th>
            <td></td>
          </tr>
        </table>
    </div>  
  </div>


</div>
<%
=end
%>