<div class="setting-wrap">
  <div class="setting-left">
    <ul>
      <li><%= link_to t('.account'), users_account_path, class:"setting-toggle" %></li>
      <li><%= link_to t('.profile'), users_profile_url, class:"setting-toggle select-account" %></li>
    </ul>
  </div>

  <div class="setting-right">
    <div class="profile-table">
      <%= form_with model: @user, url: user_registration_path,local: true do |f| %>
        <table>
          <tr class="table-title tr-border-bottom">
            <th><%= t('.profile') %></th>
            <td></td>
          <tr class="icon-table tr-border-bottom">
            <th colspan="2" class="round-image">                
            <% if @user.image.attached? %>
              <%= image_tag @user.image %>
            <% else %>
              <i class="setting-user-icon fas fa-user-circle"></i>
            <% end %>
            </th>
          </tr>

          <tr class="tr-border-bottom margin-top-10">
            <th><%= t('.icon-image') %> <div class="required">必須</div></th>
            <td><span class="image"><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %></span></td>
          </tr>

          <tr class="tr-border-bottom">
            <th><%= t('.name') %> <div class="required">必須</div></th>
            <td>
              <div class="left-justified">
                <%= f.text_field :name, class:"form-field", id:"full-width" , value: current_user.name %>
              </div>
            </td>
          </tr>

          <tr class="tr-border-bottom text-area-field">
            <th><%= t('.introduction') %> <div class="required">必須</div></th>
            <td>
              <div class="left-justified">
                <%= f.text_area :introduction, class:"form-field", id:"full-width" , value: current_user.introduction, placeholder:"自己紹介を入力" %>
              </div>
            </td>
          </tr>

          <tr class="btn-table">
            <th><%= f.submit t('.update'), class:"table-btn" %></th>
            <td></ td>
          </tr>
        </table>
      <% end %>
    </div>  
  </div>


</div>
