
<div class="setting-wrap">
  <div class="setting-left">
    <div class="setting-left-content">
      <ul>
        <li><%= link_to t('.account'), users_account_path, class:"col-blue" %></li>
        <li><%= link_to t('.profile'), users_profile_url, id:"setting-toggle" %></li>
      </ul>
    </div>
  </div>

  <div class="setting-right">
    <div class="setting-right-content setting-right-profile">
      <%= form_with model: @user, url: user_registration_path,local: true do |f| %>
        <ul>
          <li class="border-bottom-gray" id="setting-title">
            <span><%= t('.profile') %></span>
            <span></span>
          </li>

          <li class="border-bottom-gray font-bo ld round-image" id="setting-user-image">

                        
              <% if @user.image.attached? %>
                <%= image_tag @user.display_image(50, 50) %>
              <% else %>
                <i class="setting-user-icon fas fa-user-circle"></i>
              <% end %>


          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.icon-image') %> <div class="required-profile">必須</div></span>
            <span><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.name') %> <div class="required-profile">必須</div></span>
            <span><%= f.text_field :name, class:"#", id:"aaa" , value: current_user.name %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.introduction') %> <div class="required-profile">必須</div></span>
            <span><%= f.text_area :introduction, class:"#", id:"aaa" , value: current_user.introduction, placeholder:"自己紹介を入力" %></span>
          </li>

          <li id="setting-submit-btn">
            <span><%= f.submit t('.update'), class:"submit-btn-profile" %></span>
            <span></span>
          </li>
        </ul>
      <% end %>
    </div>  
  </div>