<h1>Reservations#index</h1>
<!-- ルーム画像	ルーム名	ルーム紹介	合計料金	開始日	終了日	予約確定日時 -->
<% @reservations.each do |reservation| %>
    <% room = @rooms.find(reservation.reserved_room_id) %>
  <ul>
    <li><%= room.image %></li>
    <li><%= room.room_name %></li>
    <li><%= room.room_introduction %></li>
    <li><%= reservation.amount %></li>
    <li><%= reservation.start_date %></li>
    <li><%= reservation.end_date %></li>
    <li><%= reservation.created_at %></li>
  </ul>
<% end %>