<div class="show-wrap">
  <div class="show-content">
      <ul class="show-ul">
        <li class="border-bottom-gray font-bold">
          <span><%= t('.email') %></span>
          <span><%= current_user.email %></span>
        </li>

        <li class="border-bottom-gray font-bold">
          <span><%= t('.password') %></span>
          <span><%= "*" * 10 %></span>
        </li>

        <li class="border-bottom-gray font-bold">
          <span><%= t('.password') %></span>
          <span><%= "*" * 10 %></span>
        </li>

        <li class="font-bold">
          <span><%= t('.password') %></span>
          <span><%= "*" * 10 %></span>
        </li>
      </ul>

  </div>
</div>