<div class="show-wrap">
  <div class="show-content">
      <ul class="show-ul">
        <li class="border-bottom-gray font-bold">
          <span><%= t('.email') %></span>
          <span><%= @reservation.amount %></span>
        </li>

        <li class="border-bottom-gray font-bold">
          <span><%= t('.password') %></span>
          <span><%= @reservation.reserving_user.name %></span>
        </li>

        <li class="border-bottom-gray font-bold">
          <span><%= t('.password') %></span>
          <span><%= @reservation.reserved_room.room_name %></span>
        </li>

      </ul>

  </div>
</div>