<div class="booking-wrap">

  <div class="booking-content">


    <div class="booking-left">
      <div class="booking-image"> <!-- BookingPageの画像 -->
        <%= image_tag @room.display_image(600, 410) %>
      </div>

      <div class="booking-details"><!-- BookingPageのタイトル、住所など -->

        <div class="details-icon border-bottom-gray">
            <% if @user.image.attached? %>
              <%= image_tag @room.owner.display_image(50, 50) %>
            <% else %>
              <i class="setting-user-icon fas fa-user-circle"></i>
            <% end %>
        </div>

        <div class="details-name">
            <p id="details-room-name"><%= @room.room_name %></p>
        </div>

        <div class="details-address border-bottom-gray">
          <p id="details-address"><%= @room.address %></p>
        </div>

        <div class="details-introduction border-bottom-gray">
          <p><%= @room.room_introduction %></p> 
        </div>

      </div>  


    </div>
      



  

    <!-- ここからは予約画面右側 -->
    <div class="booking-right">
      <a>aaa</a>

    </div>

  </div>



</div>

<%
=begin%>
        <table>
          <tr class="height-20">
            <td rowspan="2" class="boooking-owner-image">
              <% if @user.image.attached? %>
                <%= image_tag @room.owner.display_image(50, 50) %>
              <% else %>
                <i class="setting-user-icon fas fa-user-circle"></i>
              <% end %>
            </td>
            <td class="booking-details-title"><%= @room.room_name %></td>
          </tr> 

          <tr class="height-20">

            <td class="booking-details-content"><%= @room.address %></td>
          </tr>

          <tr>
            <td colspan="2" class=""><%= @room.room_introduction %></td>

          </tr>
        
        </table>
<%
=end
%>