<div class="booking-wrap">

  <div class="booking-left">
    <div class="booking-image">
      <%= image_tag @room.display_image, class:"booking-image" %>
    </div>

    <div class="booking-table">
      <table>
        <tr class="height-20">
          <td rowspan="2" class="boooked-room-owner-image td-border-bottom">
            <% if @user.image.attached? %>
              <%= image_tag @room.owner.image %>
            <% else %>
              <i class="setting-user-icon fas fa-user-circle"></i>
            <% end %>
          </td>
          <td class="booking-details-title"><%= @room.room_name %></td>
        </tr>

        <tr class="height-20">

          <td class="booking-details-content"><%= @room.address %></td>
        </tr>

        <tr>
          <td colspan="2" class="td-border-bottom booking-details-content booking-introduction"><%= @room.room_introduction %></td>

        </tr>
      
      </table>
    </div>
    


  </div>

 

  <!-- ここからは予約画面右側 -->
  <div class="booking-right">
    <p>aaaa</p>

  </div>

</div>