
<div class="setting-wrap">
  <div class="setting-left">
    <div class="setting-left-content">
      <ul>
        <li><%= link_to t('.information'), users_account_path, id:"setting-toggle" %></li>
      </ul>
    </div>
  </div>

  <div class="setting-right">
    <div class="setting-right-content setting-right-new">
      <%= form_with model: @room, url: rooms_path, local: true do |f| %>

        <ul>
          <li class="border-bottom-gray" id="setting-title">
            <span><%= t('.registration_room') %></span>
            <span></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.room_name') %> <div class="required">必須</div></span>
            <span><%= f.text_field :room_name, placeholder:"ルーム名を入力" %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.room_introduction') %> <div class="required">必須</div></span>
            <span><%= f.text_area :room_introduction,  placeholder:"ルーム説明を入力" %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.price') %> <div class="required">必須</div></span>
            <span><%= f.text_field :price_per_person_per_night, class:"#", id:"aaa" , placeholder:"1日あたりの料金を入力" %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.address') %> <div class="required">必須</div></span>
            <span><%= f.text_field :address, class:"#", id:"aaa" , placeholder:"住所を入力" %></span>
          </li>

          <li class="border-bottom-gray font-bold">
            <span><%= t('.room_image') %> <div class="required">必須</div></span>
            <span><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %></span>
          </li>

          <li id="setting-submit-btn">
            <span><%= f.submit t('.registration'), class:"submit-btn-profile" %></span>
            <span></span>
          </li>
        </ul>

      <% end %>

    </div>  
  </div>


<%
=begin%>
<div class="setting-wrap">
  <div class="setting-left">
    <ul>
      <li><%= link_to t('.information'), users_account_path, class:"setting-toggle select-account" %></li>
    </ul>
  </div>

  <div class="setting-right">
    <div class="profile-table">
      <%= form_with(model: @room, local: true) do |f| %>
        <table>
          <tr class="table-title tr-border-bottom">
            <th><%= t('.registration_room') %></th>
            <td></td>
          </tr>

          

            <tr class="tr-border-bottom margin-top-10">
              <th><%= t('.room_name') %> <div class="required">必須</div></th>
              <td><%= f.text_field :room_name, class:"form-field", id:"full-width",placeholder:"ルーム名を入力"%></td>
            </tr>

            <tr class="tr-border-bottom text-area-field">
              <th><%= t('.room_introduction') %> <div class="required">必須</div></th>
              <td>
                <div class="left-justified">
                  <%= f.text_area :room_introduction, class:"form-field", id:"full-width", placeholder:"ルーム紹介を入力" %>
                </div>
              </td>
            </tr>

            <tr class="tr-border-bottom">
              <th><%= t('.price') %> <div class="required">必須</div></th>
              <td>
                <div class="left-justified">
                  <%= f.text_field :price_per_person_per_night, class:"form-field", id:"full-width", placeholder:"1日あたりの料金を入力" %>
                </div>
              </td>
            </tr>

            <tr class="tr-border-bottom text-area-field">
              <th><%= t('.address') %> <div class="required">必須</div></th>
              <td>
                <div class="left-justified">
                  <%= f.text_field :address, class:"form-field", id:"full-width", placeholder:"自己紹介を入力" %>
                </div>
              </td>
            </tr>
            
            <tr class="tr-border-bottom">
              <th><%= t('.room_image') %> <div class="required">必須</div></th>
              <td><span class="image"><%= f.file_field :image,accept: "image/jpeg,image/gif,image/png", class:'input-file-field' %></span></td>
            </tr>

            <tr class="btn-table">
              <th><%= f.submit t('.registration'), method: :post, class:"table-btn" %></th>
              <td></td>
            </tr>  
          </table>
        <% end %>
    </div>  
  </div>


</div>

<%
=end
%>